# ===== temporários / editores =====
*~
*.swp
*.swo
*.bak
*.save
*.tmp

# ===== caches =====
.cache/
**/.cache/
**/Cache/
**/cache/

# ===== logs =====
*.log

# ===== segredos (segurança) =====
.env
*.key
*.pem
id_rsa
id_ed25519
known_hosts

# ===== configurações locais ignoradas =====
.config/rofi/

# ===== Kitty generated =====
.config/kitty/current-theme.conf
.config/kitty/themes/

# ===== Neovim generated =====
.config/nvim/lua/matugen.lua
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json

# ===== Noctalia generated =====
.config/starship.toml
.config/qt6ct/

# ===== XDG generated =====
.config/user-dirs.dirs
.config/user-dirs.locale

# ===== GTK generated =====
.config/gtk-3.0/*
!.config/gtk-3.0/settings.ini
.config/gtk-4.0/*
!.config/gtk-4.0/settings.ini

# ===== Zsh modular configuration =====
.config/zsh/plugins/
.config/zsh/.zcompdump*
.config/zsh/*.zwc

# ===== Python cache =====
__pycache__/
*.pyc
