<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Arch-gabrln</vendor>
  <vendor_url>https://github.com/gabrln/Arch-gabrln</vendor_url>
  <action id="org.archlinux.pkexec.gabrln">
    <description>Run Arch-gabrln helper</description>
    <message>Authentication is required to run the Arch-gabrln helper</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_active>auth_admin_keep</allow_active>
      <allow_inactive>auth_admin_keep</allow_inactive>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/gabrln-helper</annotate>
  </action>
</policyconfig>
